body{
    background-color: rgb(97, 95, 132);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#con{
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(154, 152, 176);
    padding: 20px;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#Countdown{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#Countdown div{
    text-align: center;
    padding: 30px;
    background-color: #c0bbbb;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
}
span{
    font-size: xx-large;
}

.progresscon{
    background-color: white;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#progressbar{
    background-color: rgb(125, 216, 45);
    width: 0%;
    height: 100%;
    transition: width 1s ease-in-out;
}
